<h3>Event List : {{selectedDate.toLocaleDateString()}}</h3>
<ngb-accordion *ngFor="let e of eventsInADay">
        <ngb-panel id="{{e.id}}" title="{{e.name}}">
          <ng-template ngbPanelContent>
           <h2>Start Time => {{e.startTime.hour}} : {{e.startTime.minute}}</h2>
            <h2>End Time &nbsp;&nbsp;=> {{e.endTime.hour}} : {{e.endTime.minute}}</h2>
            <app-delete-event-modal [event]="e" (confirmationEvent)="deleteAEvent($event)"></app-delete-event-modal>
            <app-event-update-form [event]="e" (updatingEvent)="updateAEvent($event)"></app-event-update-form>
          </ng-template>
        </ngb-panel>
</ngb-accordion>
