<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Event</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="eventName">Name Of The Event</label>
        <div class="input-group">
          <input id="eventName" name="eventName" [(ngModel)]="eventName"  type="text" class="form-control" placeholder="Enter Name" >
        </div>

      </div>
      <div class="form-group">
        <label for="dateOfEvent">Event Date</label>
        <div class="input-group">
          <input id="dateOfEvent" [(ngModel)]="model"  class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="dp.toggle()" type="button"></button>
          </div>

        </div>
      </div>
      <div class="form-group">
        <label>Start Time (24hr Format)</label>
        <ngb-timepicker [(ngModel)]="startTime" name="stp"></ngb-timepicker>

      </div>
      <div class="form-group">
        <label>Start Time (24hr Format)</label>
        <ngb-timepicker [(ngModel)]="endTime" name="stp"></ngb-timepicker>


      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click');addEvent();">Add Event</button>
  </div>
</ng-template>

<button id="addBtn" class="btn btn-lg btn-outline-primary" (click)="open(content)">Add A New Event</button>

