<ngb-alert type="primary" [dismissible]="false">
  <div class="row">
    <div class="col-12 col-md-4"><h1>Online Organizer</h1></div>
    <div class="col-12 col-md-4"><a href="https://github.com/dcjc29/Angular-Assignment">Repository</a></div>
    <div class="col-12 col-md-4"><a href="https://dcjc29.github.io/Angular-Assignment/">Demo</a></div>
  </div>


</ngb-alert>
<div class="row">
  <div class="col-12 col-md-12" id="nextEventDiv">
    <app-next-event-section [nextEvent]="nextEvent" (autoDeleteEvent)="deleteEvent($event)"></app-next-event-section>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-12 col-md-5">
    <app-calendar-view (dateSelectEvent)="receiveDate($event)"></app-calendar-view>
  </div>
  <div class="col-12 col-md-7">
    <br/>
    <div class="row">
      <div class="col">
        <app-event-add-form [selectedDate]="selectedDate" (addNewEventEvent)="receiveNewEvent($event)"></app-event-add-form>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col">
        <app-events-list [eventsInADay]="eventsInADay" [selectedDate]="selectedDate" (updateEventEvent)="updateEvent($event)" (deleteEventEvent)="deleteEvent($event)"></app-events-list>
      </div>
    </div>
  </div>
</div>
